.App {
  text-align: center;
}
.header {
  background-color: yellow;
}
.followers-Column {
  background-color: red;
  width: 200px;
  height: 800px;
}

.feed {
  width: 500px;
  background-color: wheat;
}

.suggested-box {
  background-color: blue;
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
}
